body{
  font-family:Optima,Helvetica,sans-serif;
}
.header{
  color: navy;
  text-align: center;
}

header nav {
  display: flex;
  justify-content: flex-end;
}

.container h3{
  text-decoration: underline;
}

#date{
  text-align:right;
  display: inline;
}
