body{
  margin-left:20px;
  margin-top:10px;
  margin-right:20px;
  margin-bottom:10px;
  font-family:Optima,Helvetica,sans-serif;
}
.header{
  color: navy;
  text-align: center;
}

header nav {
  display: flex;
  justify-content: flex-end;
}

section h3{
  text-decoration: underline;
  vertical-align:middle;
}

section h4{
  vertical-align:middle;
}


#date{
  text-align:right;
  display: inline;
}
